.inscription {
  background-color:#FFE600;
  color: black;
  grid-area : signup;
}

.connexion {
  background-color:#244BA6  ;
  color: white;
  grid-area : login;

}

.buttons {
  border: none;
  padding : 10px 30px;
  margin: 0px 50px 40px 50px;
  font-size: 23px;
 }
body{
  text-align: center;
   background-color: #eeeeee; 
  font-family: 'Lato', sans-serif;
}


.content-first_section{
  margin: 0 auto;
  width: 1000px;
  background: url('imgs/s-a.png');
  background-repeat: no-repeat;
  height: 472.77px;
  
}
.content-first_section > p {
  color: white;
}
.content-second_section{
  margin: 0 auto;
  width: 1000px;
  background: url('imgs/s-b.png');
  background-repeat: no-repeat;
  height: 472.77px;
  
}
.content-second_section > p {
  color: white;
}

.section-title{
  grid-area : a;
  position: relative;
  font-size: 36px;
  top: 10%;
  margin-left: 4%;

}
.div-seprator{
  display: block;
  font-size: 32px;
  
}
.div-seprator-sec > p{
 
}

.sep-third-titre{
  grid-area : titre;
  color: black;
}


.section-grid{
  color: wheat;
  display: grid;
  grid-template-areas: 
  "a a ."
  "b b c";
   grid-template-rows: 220px 200px;
  grid-template-columns: 40% 28% 28%; 
}
.sep-third-grid{
  color: wheat;
  display: grid;
  grid-template-areas: 
  "titre ."
    "titre button"
    "titre ."
    ;
   grid-template-rows:  70px 60px ;
  grid-template-columns: 70% 19% ;
}
.section-calltoaction{
  grid-area : c;
  font-size: 32px;
  color : #FFE600;

}

.section-desc{
  grid-area : b;
  margin-left : 7%;
  margin-top: 0px;
  padding-right: 10%;
  text-align: left;
  font-size: 26px;
}


.pogami{
  color: #244BA6;
}
.div-seprator-thrd{
  font-size: 30px;
  margin: 0 auto;
  width: 1000px;
  color : black;
}
#button-join-us{
  grid-area : button;
  background-color: #FFE600 ;
  border: none;
  font-family: 'Lato', sans-serif;
}
footer {
  margin: 0 auto;
  width: 1000px;
  background-color: #244BA6 ;
  color : white;
  height: 90px;

}
footer p {
  padding: 2.8%;
  font-size: 17px ;
  margin : 0;
}
.principal-pogami{
  font-size: 50px;
  margin: 20px 20px 30px 60%;
  grid-area: title-pogami;
   font-family: 'Roboto', sans-serif;
}
#w3-container{
  background-color: white;
    margin: 0 auto;
  width: 1000px;
  padding: 0px;
}
.div-header{
  display: block;
}
.logo{
  width: 40%;
  margin: 0 auto;
  padding-top: 20%;
  padding-right: 8%;
}
.div-seprator p{
  line-height: 23px;
      font-family: 'Roboto', sans-serif;
}
.div-header-grid{
  display: grid;
  grid-template-areas: 

    
    "logo  title-pogami ."
    "logo login signup "
    ;
    grid-template-rows:  140px 90px;
  grid-template-columns: 23% 26% 26% ; 
}